.link-element,
.link-element:link,
.link-element:visited {
  display: block;
  text-decoration: none;
  color: $text-dark;
  font-weight: $fw-regular;
  font-size: $fs-base;
  transition: all 0.3s ease 0s;

  &--menu-link {
    display: block;
  }
  @include atLarge {
    display: inline-block;
  }

  &:hover,
  &:active {
    color: $secondary-light;
  }
}
